<p>
	<strong>Title:</strong>
	<%= @project.title %>
</p>
<ul>
	<% @project.todos.each do |todo|%>
		<li><%= todo.text %></li>
	<% end %>
</ul>
<h2>Add a todo:</h2>
<%= form_for([@project, @project.todos.build]) do |f| %>
	<p>
		<%= f.label :text %><br>
		<%= f.text_field :text %>
	</p>
		<%= f.submit %>
	</p>
<% end %>
